*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}


html{
  font-size: 62.5%;
}

body{
  background-color: rgb(219 , 230 , 253);
}

h1{
  font-size: 3.2rem;
  margin : 2rem 0;
  text-align: center;

}


h2{
  font-family: "IBM plex Serif" , serif;
  font-size: 2.4rem;
}

p{
  margin: 2rem 0;
  color: rgb(21, 19 , 60 , 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  display : inline-block
}

span{
  text-transform: capitalize;
  font-weight: bold;
}

.card{
  margin : 5rem;
  margin-left: 40rem;
  min-width: 20rem;
  width: 40vw;
  padding: 4rem;
  background-color: #ffffff;
  box-shadow: rgba(100, 100,111. 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  color: #15133c;
  border: 2px solid rgba(55, 0, 255, 0.295);


}

.card-button{
  display: flex;
  flex-direction: row;
  width : 100%;
  justify-content: space-between;
}

.card-button a{
  color : red;
  font-weight: 400;
  font-size: 1.6rem;
}
/* 
.search{
  display: flex;
  justify-content: center;
 
  height: 3rem;
 
} */
form{
  display: grid;
  place-items: center;
}

